* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  /*font-family: Arial, sans-serif;*/
}

/*
.top {
  height: 90%;
}

.bottom {
}
*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

td, th {
  border: 1px solid #444;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #777;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.reschild25 {
    float: left;
    width: 25%;
    padding: 15px;
}

.reschild33 {
    float: left;
    width: 33%;
    padding: 15px;
}

.reschild50 {
    float: left;
    width: 45%;
    padding: 15px;
}

.flexchild25 {
    display: flex;
    float: left;
    width: 25%;
    padding: 15px;
}

.flexchild33 {
    display: flex;
    float: left;
    width: 33%;
    padding: 15px;
}

.flexchild50 {
    display: flex;
    float: left;
    width: 45%;
    padding: 15px;
}

/* Clear floats after the columns */
.rescontainer:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .reschild25 { width: 50%; }
}

@media screen and (max-width: 700px) {
    .reschild50 { width: 100%; }
}

@media screen and (max-width: 600px) {
    .reschild25 { width: 100%; }
}